[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NasdaqDataLink"]
	path = NasdaqDataLink
	url = https://github.com/nasdaq/data-link-r
